#menuDashboard{
	align-items: center;
	display: block;
}

/*--------------------------TITULO DASHBOARD------------------------------------*/
#titDashMenuDiv{
	width: 100%;
	height: 5%;
	position: relative;
	background: indianred;
	align-items: center;
	padding-top: 0;
	padding-left: 0.5%;
}
#titDashMenuH{
	font-size: 100%;
}
/*--------------CONTENEDOR DE IMPORTE FACTURADO-----------------------------------*/

.blankH{
	position: relative;
	background: blue;
	width: 100%;
	height: 20px;
}
#contentD1{
	position: relative;
	width: 80%;
	margin: auto;
	height: 220px;
	background: white;
	display: block;
}


