#menuDashboard{
	align-items: center;
}

/*--------------------------TITULO DASHBOARD------------------------------------*/
#titDashMenuDiv{
	width: 100%;
	height: 5%;
	position: relative;
	background: indianred;
	align-items: center;
	padding-top: 0;
	padding-left: 0.5%;
}
#titDashMenuH{
	font-size: 100%;
}
/*--------------CONTENEDOR DE IMPORTE FACTURADO-----------------------------------*/

#dash1{
	position: relative;
	top: 20%;
	width: 80%;
	height: 350px;
	margin: auto;
	background: white;
	overflow: hidden;
}


